$primary: #08C6C0;
$secondary: #f2f2f2;
$font-family-base: 'Lato';
$form-check-input-border: 1px solid rgba($primary, 1);
$form-check-margin-bottom:0px;
$card-bg: $secondary;
$enable-cssgrid: true;
$card-border-width:0px;
$card-cap-padding-y:0px;
$card-cap-padding-x:0px;
$table-cell-padding-y:0.25rem;
$table-cell-padding-x:0.2rem;
$card-group-margin:15rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
  );
  
@import 'bootstrap/scss/bootstrap.scss';
  
:root{
    --bs-body-bg:#f2f2f2;
}
.grid{
    --bs-gap:1.875rem;
}
table{
    font-size: 0.875rem;
}
.table-borderless>:not(:first-child){
    border-top-width:1px ;
}


@include media-breakpoint-up(sm) {
    table {
      font-size:1rem;
   
    }
    .table>:not(caption)>*>*{
        padding: 0.5rem 0.5rem;
    }
  }
.badge{
    left:8px;
    top: 152px;
}
.card-img-top{
    height: 11.43rem;
    width: 100%;
    object-fit: contain;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
